.{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.layout1 {
    text-align: center;
    border: solid 2px;
    background-color: burlywood;
    float: left;
    width: 100%;
}
header {
    border-bottom: solid 2px;
    height: 50px;
}
.menu {
    border-bottom: solid 2px;
    height: 50px;
}
.than {
    display: flex;
    height: 200px;
    border-bottom: solid 2px;
}
.nav {
    padding-right: 25%;
    border-right: solid 2px;
}
.nav1 {
    padding-right: 50%;
    border-right: solid 2px;
}
footer {
    height: 50px;
}
